server:
  port: 0

spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          searchLocations:
            - classpath:config/aggregator
            - classpath:config/analyzer
            - classpath:config/commerce/shopping-cart
            - classpath:config/commerce/shopping-store
            - classpath:config/commerce/warehouse
            - classpath:config/telemetry/collector

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${random.value}

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 50
      failureRateThreshold: 50